
* {box-sizing: border-box;}

body 
{ 
    background-color: #FFF9F0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header
{
    overflow: hidden;
    background-color :#CBAA84;
    padding : 20px 10px;
}


.header a
{
    float: left;
    color : #502B07;
    text-align : center;
    padding : 15px;
    text-decoration: firebrick;
    font-size:40px;
    font-family: cursive;
    line-height:  40px;
    border-radius: 4px;

}

.title
{
    font-family: cursive;
    font-size : 43px;
    color : #502B07;
}

.logo
{
    margin: 0;
    float: left;
    height: 70px;
    width : 200px;
}

.header a:hover
{
    background-color : #F2D7B8;
    color : #502B07;
}

.header-page
{
    float: right;
}

@media screen and (max-width: 500px) 
{
    .header a
    {
      float: none;
      display: block;
      text-align: left;
    }

    .header-page
    {
        float: none;
    }
}



input[type=text], input[type=password]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #F2D7B8;
    box-sizing: border-box;
}
button 
{
    background-color: #CBAA84;
    color: #502B07;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-family: cursive;
    font-size : 20px;
    width: 100%;
}

button:hover 
{
    opacity: 0.8;
}


.container 
{
    padding: 16px;
}
.container label
{
    font-family: cursive;
    font-size : 25px;
    color: #502B07;
}

span.psw 
{
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px)
{
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
}
.Error
{
    text-align: center;
    font-size : 15px;
    color: #502B07; 
}
footer 
{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #502B07;
    text-align: center;
}
.video
{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width : 100%;
    max-width: 600px;
}
video
{
    max-width: 600px;
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: #502B07;
    border-radius: 5px;
}
.canvas
{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width : 100%;
    max-width: 600px; 
}
canvas
{
    max-width: 600px;
    width: 100%;
    height: auto;
    border-style: solid;
    border-color: #502B07;
    border-radius: 5px;
}
.image
{
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width : 100%;
    max-width: 600px;
}

 .image img
{
    width : 100%;
    max-height : 600px;
    max-width: 600px;
    height: auto;
    border-style: solid;
    border-color: #502B07;
    border-radius: 5px;
}
.fullbody
{
    margin-top: 10px;
}
.superposable
{
    border-style: solid;
    border-color: #502B07;
    color : #502B07;
    border-radius: 5px;
    font-family: cursive;
    font-size:15px;
    width : 80%;
    background-color :#CBAA84;
}

.button
{
    border-style: solid;
    border-color: #502B07;
    color : #502B07;
    border-radius: 5px;
    font-family: cursive;
    font-size:15px;
    width : 100%;
    background-color :#CBAA84;
}
.fullbody
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}