* {box-sizing: border-box;}

body 
{ 
    background-color: #FFF9F0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header
{
    overflow: hidden;
    background-color :#CBAA84;
    padding : 20px 10px;
}


.header a
{
    float: left;
    color : #502B07;
    text-align : center;
    padding : 15px;
    text-decoration: firebrick;
    font-size:40px;
    font-family: cursive;
    line-height:  40px;
    border-radius: 4px;

}

.title
{
    font-family: cursive;
    font-size : 43px;
    color : #502B07;
}

.logo
{
    margin: 0;
    float: left;
    height: 70px;
    width : 200px;
}

.header a:hover
{
    background-color : #F2D7B8;
    color : #502B07;
}

.header-page
{
    float: right;
}

@media screen and (max-width: 500px) 
{
    .header a
    {
      float: none;
      display: block;
      text-align: left;
    }

    .header-page
    {
        float: none;
    }
}
footer 
{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #502B07;
    text-align: center;
}


.image
{
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width : 100%;
    max-width: 600px;
}

 .image img
{
    width : 100%;
    max-height : 600px;
    max-width: 600px;
    height: 100%;
    border-style: solid;
    border-color: #502B07;
    border-radius: 5px;

}
.comment_button
{
    border-style: solid;
    border-color: #502B07;
    color : #502B07;
    border-radius: 5px;
    font-family: cursive;
    font-size:15px;
    width : 80%;
    background-color :#CBAA84;
}
.hidden
{
    display: none;
}

.comments
{
    border-style: solid;
    color : #502B07;
    border-color: #502B07;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: scroll;
    height: 100px;
    overflow-x: hidden;
}
.comments hr
{
    border-top: 1px solid #CBAA84;
}

.input input
{
    border-style: solid;
    border-color: #502B07; 
    border-radius: 5px;
    height: 50px;
    width:80%;
}
.input button
{
    border-style: solid;
    color : #502B07;
    border-color: #502B07;  
    border-radius: 5px;
    font-family: cursive;
    font-size: 20px;
    background-color: #CBAA84;
    height: 50px;
    width:19%;
}

.like
{
    border-style: solid;
    border-color: #502B07;
    border-radius: 5px;
    font-family: cursive;
    width : 19%;
    background-color  :#F2D7B8;
    color : #502B07;
    font-family: 'Sofia';
    font-size: 19px;
    margin-top:1px;
}
.like_active
{
    width : 19%;
    color : #502B07;
    font-size: 21px;
    margin-top: 1px;
}

.like_nonactive
{
    width : 19%;
    color : #502B07;
    font-size: 17px;
    margin-top: 1px; 
}
.like_form
{
    display: inline;
}